*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background: var(--ui-bg);
  color: var(--ui-text);
}

a {
  color: var(--ui-link);
}

a:hover {
  color: var(--ui-link-hover);
}
